body {
    background-image: url("../images/library.jpg");
	background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
   
}

input{
    padding: 1.1rem;
    border-radius: 12px;
    margin: 4px;
    border: 2px solid #43D1AF;
 }
 

.container{
    background: rgba(243, 243, 243, 0.5);
    border-radius: 20px;
    width: 40%;
    text-align: center;
    justify-content: center;
    padding: 0.6rem;
    margin: 1rem;
}

.container-2{
    background-color:rgba(243, 243, 243, 0.5); ;
    padding: 3rem;
    margin: 1rem;
    display: flex;
}


.home{
    width: 50%;
}

nav a{
    display: inline-block;
    color: black;
	font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

form a{
     color: green;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #43D1AF;
}

li {
    float: right;
}

input[type='submit']{
    background-color: rgb(2, 145, 2);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: white;
}

input[type='submit']:hover{
    background: white;
    color: rgb(4, 66, 4);
}

input[type='email']:hover, input[type='password']:hover{
    background-color: white;
    border: 2px solid brown;
}
